<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MyTestSuite" verbose="1" parallel="false">
    
    <!-- Define a test -->
    <test name="RegressionTests">
        <classes>
            <class name="extramileplay.tests.LoginTest"/>
            <class name="extramileplay.tests.GameTest"/>
            <class name="extramileplay.tests.BookingNegativeeTest"/>
        </classes>
    </test>
    
</suite>
